body{
    margin: 0 auto;
}
#outlayercontainer{
    left:0;
    right:0;
    margin:auto;
    max-width: 480px;
}
#top{
    position: relative;
    height: 44px;
    background-size: auto;
    background-color: #252b3a;
    line-height: 44px;
    color: #fff;
}
.top{
    background: url("../image/logo.svg") 15px no-repeat;
}
.languageChange{
    text-align: right;
    padding: 0 20px 0 0;
    margin: 0;
    font-family: sans-serif;
    float: right;
    font-size: 14px;
}
.upanddown{
    float: right;
    background: url("/image/down.png") 15px no-repeat;
}
.content{
    padding: 20px 4%;
    min-height: calc(100% - 148px);
}
.content>div{
    width: 100%;
}
.registerTitle {
    font-size: 21px;
}
.registerTitle, .verifyTitle {
    color: #222;
    font-weight: 600;
    letter-spacing: 0;
}
div, ul, ol, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote {
    margin: 0;
    padding: 0;
}

.registerTitle {
    font-size: 21px;
    text-align: left;
}
.registerTitle, .verifyTitle {
    color: #222;
    font-weight: 600;
    letter-spacing: 0;
}
*, .button-red, .button-white, .inputBox, .popbox-btn, .popbox-btn-red, .select-region, body {
    box-sizing: border-box;
}
.mobileText {
    letter-spacing: 0;
    font-size: 12px;
    line-height: 15px;
    word-wrap: break-word;
    
}
.ljdl{
    color:blue ;
}
.inputGroup{
    margin-top: 10px;
    overflow: hidden;
}
.inputBox {
    border: 1px solid #ccc;
    width: 100%;
    height: 43px;
    display: inline-block;
}
.inputBox, .ti-select-text {
    line-height: 43px;
}
.area_code.active {
    color: #333;
}
.area_code, .regionCode {
    font-size: 14px;
    line-height: 43px;
    display: inline-block;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85%;
    text-indent: 15px;
}
#callingCodeInput {
    width: 25%;
    border-right: 0;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#callingCodeInput, #notifyText, .button-red, .button-white, .regMobileBtn, .select-region {
    vertical-align: middle;
}
.value-input {
    border: 0;
    font-size: 14px;
    text-indent: 15px;
    vertical-align: baseline;
    outline: none;
}
.inputArea {
    width: 95%;
}
.cancelleftborder{
    border-left: none;
}
.inputBeforeBtn {
    border-right-color: #333;
}
.inputBtn {
    border-color: #333;
}
#smsInput {
    float: left;
    width: 60%;
}
#msgBtn {
    width: 40%;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    border-left: none;
}
#cipher-strength span, #languageSwitch, #msgBtn, #right-nav, .after_send, .button-red, .button-white, .clear-img, .close-img, .country-toptext, .footer-login, .line, .msgBtnRed, .note-text-block, .pageTitle, .region-title, .ti-modal-footer, .title, .warning:before {
    text-align: center;
}
.lan, body {
    font-size: 14px;
}
element.style {
    display: inline;
    float: right;
}
.eye {
    width: 30px;
}
.checkbox-group {
    margin: 1rem 0;
}
.checkbox-block {
    float: left;
    position: relative;
}
.checkbox-img {
    width: 17px;
    height: 17px;
}
.checkbox-text-block {
    margin-left: 28px;
    overflow: hidden;
}
#check-agree {
    position: absolute;
    left: 2px;
    top: 2px;
    opacity: 0;
}
.button-red.unactive {
    background-color: #dbdbdb;
}
.button-red.active {
    background-color: #ff8080;
}
.button-red {
    background-color: #ff8080;
    color: #fff;
    border: 0;
    border: none;
    height: 43px;
}
.button-red.unactive {
    background-color: #dbdbdb;
}
.button-red {
    background-color: #ff8080;
    color: #fff;
    border: 0;
    border: none;
    height: 43px;
}
.button-red, .button-white {
    margin-top: 10px;
    width: 100%;
    font-size: large;
    height: 43px;
    display: block;
    line-height: 43px;
    border-radius: 4px;
    -webkit-appearance: none;
    outline: 0;
}
a{
    text-decoration: none;
}
hrdiv
hr{
    margin-top: 100;
    margin-bottom: 30;
    color: grey;
}