<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>注册华为云账号</title>
<link rel="stylesheet" type="text/css" href="css/register.css">
<link rel="shortcut icon" href="image/favicon.ico">
<script src="js/vue/vue.js"></script>
<script src="js/vue/vue-router.js"></script>
<script src="js/axios.min.js"></script>
</head>
<body>
    <div id="outlayercontainer">
        <div id="top" class="top">
            <div id="languageChange" class="languageChange">
                <span id="currentLanguage" class="currentLanguage" v-on:click="cgl">{{configuredata.languagedes}}</span>
                <span id="languageArrow" v-bind:class="jiantou"></span>
            </div>
        </div>
        <div id="languageSwitch">
            <span class="languageSwitchCell" v-bind:style="englishchoice"  v-on:click="changeLanguage">{{configuredata.languagedes2}}</span>
        </div>
        <div id="content" class="content">
            <div>
                <div class="registerTitle">{{configuredata.maintitle}}</div>    
            </div>
            <div style="text-align: left;">
                <span class="mobileText zleft">{{configuredata.yyzh}}&nbsp;<a class="ljdl" href="login.html">{{configuredata.ljdl}}</a></span>
            </div>
            <div class="inputGroup">
                <div id="callingCodeInput" class="inputBox inputBoxRed" style="width: 40%;">
                    <div id="modelCountryCode" class="area_code active" style="width:100%">{{configuredata.tellocation}}</div>
                </div>
                <div id="phoneInput" class="inputBox cancelleftborder" style="width:60%">
                    <input id="phone" type="tel" class="value-input inputArea" tabindex="1"
                    v-bind:placeholder="configuredata.telplh" v-model="ztel" required @focus="cleanErr()">
                </div>
            </div>
            <div class="inputGroup">
                <div id="alert" v-bind:style="yzmmessages"><span style="color: green;">{{configuredata.yzmmessage}}</span></div>
                <div id="smsInput" class="inputBox inputBeforeBtn">
                    <input id="CODE" class="value-input" style="width:90%;margin-top:-3px" type="tel" tabindex="2"
                    maxlength="6" v-bind:placeholder="configuredata.yzmplh" v-model="zyzm" @focus="cleanErr()">
                </div>
                <div id="msgBtn" class="inputBox inputBtn">
                    <span class="getCodeTxt"  v-on:click="yzm">{{configuredata.getymz}}</span>
                </div>
            </div>
            <div id="pwdGroup" class="inputGroup">
                <div id="pwdInout" class="inputBox">
                    <input id="PWD" class="value-input inputArea" style="width: 85%;" maxlength="32" v-bind:type="eyeinputtype" tabindex="9" 
                    v-bind:placeholder="configuredata.pasplh" autocomplete="off" v-model="zpassword" @focus="cleanErr()">
                    <div style="display:inline;float:right">
                        <img id="EYE" style="margin-top:7px;margin-right:10px" v-bind:src="eyeimagurl" class="eye" v-on:click="cgeyeinptype">
                    </div>
                </div>
                <div class="checkbox-group"></div>
                <div class="ckeckbox-group">
                    <div class="declear">
                        <span class="checkbox-block">
                            <img id="CK" class="checkbox-img" v-bind:src="chkimagurl" tabindex="10" v-on:click="chk">
                        </span>
                        <div id="ty" class="checkbox-text-block mobileText">
                            <span>{{configuredata.othertxt1}}</span>
                            <a href="javascript:void(0);"><span class="unioncolor">{{configuredata.othertxt2}}</span></a>
                            <span>{{configuredata.othertxt3}}</span>
                            <a href="javascript:void(0);"><span class="unioncolor">{{configuredata.othertxt4}}</span></a>
                        </div>
                    </div>
                </div>
                <div class="inputGroup">
                    <div id="alert" v-bind:style="errormessages"><span style="color: red;">{{configuredata.errormessage}}</span></div>
                    <input id="SUBMIT" v-bind:class="[one,two]" type="button" v-bind:value="configuredata.submitbutton" tabindex="11" @focus="zsubmit()">
                </div>
                <div class="inputGroup line">
                    <span>&nbsp;</span>
                </div>
                <div class="mobileText learnMoreTitle ljgd">
                    <span v-on:click="lmf">{{configuredata.othertxt5}}</span>
                    <span id="learnMoreArrow" v-bind:class="lmjt" v-on:click="lmf"></span>
                </div>
                <div id="learnMoreTip" class="mobileText hide" v-bind:style="lm">
                    <div class="tip-block">
                        <span>{{configuredata.othertxt6}}</span>
                        <a href="https://reg.huaweicloud.com/registerui/intl/m/register.html"><span class="unioncolor">{{configuredata.othertxt7}}</span></a>
                        <span>{{configuredata.othertxt8}}</span>
                    </div>
                    <div class="tip-block">
                        <span>{{configuredata.othertxt9}}</span>
                        <a href="https://support.huaweicloud.com/usermanual-account/account_bi_0001.html"><span class="unioncolor">{{configuredata.othertxt10}}</span></a>
                        <span>{{configuredata.othertxt11}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        var out = new Vue({
            el:'#outlayercontainer',
            data:{
                jiantou:'arrow-down',
                englishchoice:'display:none',
                yzmmessages:'text-align:center;display:none',
                errormessages:'text-align:center;display:none',
                eyeimagurl:'./image/pwd_no.png',
                eyeinputtype:'password',
                chkimagurl:'./image/check-no.png',
                one:'button-red',
                two:'unactive',
                lm:'display: none',
                lmjt:'arrow-down',
                ztel:null,
                zyzm:null,
                zpassword:null,
                //可配置内容 from /ctrl/register-CN.json
                configuredata:null,
            },
            methods:{
                cgl(){
                    if(this.jiantou=='arrow-down'){
                        this.jiantou='arrow-up'
                        this.englishchoice='display:block'
                    }else{
                        this.jiantou='arrow-down'
                        this.englishchoice='display:none'
                    }
                    
                },
                yzm(){
                    if(this.ztel==null){
                        this.configuredata.errormessage=this.configuredata.telnotinputerror
                        this.errormessages='text-align:center;display:block'
                    }else{
                        this.yzmmessages='text-align:center;display:block'
                    }  
                },
                cgeyeinptype(){
                    if(this.eyeimagurl=='./image/pwd_no.png'){
                        this.eyeimagurl='./image/pwd_ye.png'
                        this.eyeinputtype='text'
                    }else{
                        this.eyeimagurl='./image/pwd_no.png'
                        this.eyeinputtype='password'
                    }
                },
                chk(){
                    if(this.chkimagurl=='./image/check-no.png'){
                        this.chkimagurl='./image/check-ye.png'
                        this.two='active'
                        if(this.configuredata.errormessage==this.configuredata.prototalerror){
                            this.errormessages='text-align:center;display:none'
                        }
                    }else{
                        this.chkimagurl='./image/check-no.png'
                        this.two='unactive'
                    }
                },
                lmf(){
                    if(this.lm=='display: none'){
                        this.lm='display: block'
                        this.lmjt="arrow-up"
                    }else{
                        this.lm='display: none'
                        this.lmjt="arrow-down"
                    }
                },
                zsubmit(){
                    if(this.chkimagurl=='./image/check-ye.png'){
                        var m1='';
                        var m2='';
                        var m3='';
                        if(this.ztel==null || this.ztel==''){m1=this.configuredata.telnullerror}
                        if(this.zyzm==null || this.zyzm==''){
                            m2=this.configuredata.yzmnullerror
                        }else if(this.zyzm!='666666'){
                            m2=this.configuredata.yzmerror
                        }
                        if(this.zpassword==null || this.zpassword==''){
                            m3=this.configuredata.passnullerror
                        }
                        this.configuredata.errormessage=m1+m2+m3
                        if(this.configuredata.errormessage==''){
                            window.location.href="index.html"
                        }else{
                            this.errormessages='text-align:center;display:block'
                        }
                    }else{
                        this.configuredata.errormessage=this.configuredata.prototalerror
                        this.errormessages='text-align:center;display:block'
                    }
                },
                cleanErr(){
                    this.errormessages='text-align:center;display:none'
                },
                //中英文切换
                changeLanguage(){
                    if(this.configuredata.languagedes=="简体中文"){
                        axios  
                        .get('ctrl/register-EN.json')
                        .then(response=>(this.configuredata=response.data))
                        this.jiantou='arrow-down'
                        this.englishchoice='display:none'
                    }else{
                        axios  
                        .get('ctrl/register-CN.json')
                        .then(response=>(this.configuredata=response.data))
                        this.jiantou='arrow-down'
                        this.englishchoice='display:none'
                    }                   
                }
            },
            mounted(){
                //获取配置数据
                axios  
                    .get('ctrl/register-CN.json')
                    .then(response=>(this.configuredata=response.data))
            }
        })
    </script>
</body>
</html>